* {
  padding : 0px;
  margin: 0px;
}

 #img1 {
  display: none;
}

#canvas1 {
  /* background-color: yellow; */
  margin: 5px;
}
#picker{
  position: relative;
  /* z-index: 3; */
  background-color: aqua;
  color: blue;
  font-size: medium;
  margin: 5px;
  border-radius: 10px;
  z-index: -1;
}